h1{
    text-align: center;
}

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:blue;
    text-decoration: underline; 
}

table td {
    padding: 5px;
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 50px;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer li:first-child{
    font-weight: bold;
    font-size: 18px;
}